.nuxt-content {
  word-break: break-word;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    @media screen and (max-width: 767px) {
      font-size: 1.8rem;
    }
  }
  h2 {
    font-size: 2rem;
    margin-top: 1.8em;
    margin-bottom: 0.9em;
    border-bottom: solid 2px var(--light-blue);
    line-height: 1.7;
    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
    }
  }
  h3 {
    font-size: 1.5rem;
    margin-top: 1.6em;
    margin-bottom: 0.7em;
    border-left: solid 3px var(--light-blue);
    padding-left: 0.5em;
    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }
  h4 {
    font-size: 1.25rem;
    margin-top: 1.3em;
    margin-bottom: 0.4em;
    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
    }
  }

  p {
    line-height: 1.9;
    + p {
      margin-top: 1.5em;
    }
    code {
      font-family: consolas, 'Helvetica Neue', Arial,
        'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
      vertical-align: top;
      margin: 0 0.2em;
      padding: 0.2em;
      background-color: var(--grey);
    }
  }

  a {
    color: var(--light-blue);
  }

  img {
    margin: 2.5rem auto;
  }

  blockquote {
    margin: 1.5em 0;
    border-left: solid 3px var(--grey);
    padding: 0.6em 1em;
    font-style: italic;
  }

  &-highlight {
    position: relative;
    font-size: 0.85rem;
    .filename {
      position: absolute;
      margin-left: 1em;
      padding: 0 0.3em;
      background-color: var(--dark-blue);
      font-family: consolas;
      color: var(--white);
    }
    pre {
      padding-top: 2.3em;
    }
    code {
      font-family: consolas, 'Helvetica Neue', Arial,
        'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    }
  }
}
