.nuxt-content {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
  }
  h2 {
    font-size: 2rem;
    margin-top: 1.8em;
    margin-bottom: 0.9em;
    border-bottom: solid 2px var(--light-blue);
    line-height: 1.7;
  }
  h3 {
    font-size: 1.5rem;
    margin-top: 1.6em;
    margin-bottom: 0.7em;
    border-left: solid 3px var(--light-blue);
    padding-left: 0.5em;
  }
  h4 {
    font-size: 1.25rem;
    margin-top: 1.3em;
    margin-bottom: 0.4em;
  }

  p {
    line-height: 1.9;
    + p {
      margin-top: 1.5em;
    }
  }

  a {
    color: var(--light-blue);
  }

  img {
    margin: 2.5rem auto;
  }
}
