:root {
  // size
  --pc-content-width: 900px;
  --pc-content-pad-vertical: 80px;

  // colors
  --white: #ffffff;
  --grey: #d1d9db;
  --light-blue: #00b0c4;
  --dark-blue: #008390;
  --beige: #d8b37a;
}
