:root {
  // break point
  --pc-width: 768px;
  --sp-width: 767px;

  // size
  --content-width: 930px;
  --content-pad-horizontal: 15px;
  --content-pad-vertical: 80px;

  // colors
  --black: #222;
  --white: #ffffff;
  --grey: #d1d9db;
  --light-blue: #00b0c4;
  --dark-blue: #008390;
  --beige: #d8b37a;
}
